OPENAI_API_KEY=your-openai-api-key-here

# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5434/contract_db

# External AI API Configuration
EXTERNAL_AI_API_URL=http://localhost:8009
EXTERNAL_AI_API_KEY=your-openai-api-key-here

# MinIO Configuration
MINIO_ENDPOINT=localhost:9002
MINIO_ACCESS_KEY=your-minio-access-key-here
MINIO_SECRET_KEY=your-minio-secret-key-here
MINIO_BUCKET=cr-contract
MINIO_LIBRARY_BUCKET=cr-library
MINIO_SECURE=False
REDIS_URL=redis://localhost:6389/0
